body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(26, 78, 26), rgb(144, 186, 144));
    margin: 0;
    height: 100vh;
}

/* buttons and input section */
button {
    font-weight: bold;
    border-width: 3px;
    border-radius: 3px;
    border-style:solid;
    background-color: rgb(96, 71, 188);
    color: aliceblue;
    padding: 5px;
    margin: 10px;
}

button:hover {
    color: black;
    background-color: aliceblue;
}

#input-container {
    display: flex;
    align-items: center;
}

#squareInput {
    width: 250px;
    height: 25px;
}

/* end of button section */

#title {
    color: aliceblue;
    font-size: 30px;
}

#box-container {
    display: flex;
    background-color: rgb(37, 24, 175);
    flex-wrap: wrap;
    width: 640px;
    margin: 0 auto;
    padding: 15px;
}

#box-container div {
    background-color: rgb(255, 255, 255);
}

