body {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(52, 20, 78), rgb(0, 0, 0));
    margin: 0;
    height: 100vh;
}

/* buttons and input section */
button {
    border-color: black;
    font-weight: bold;
    border-width: 3px;
    border-radius: 5px;
    border-style:solid;
    background-color: rgb(96, 71, 188);
    color: aliceblue;
    padding: 5px;
}

button:hover {
    color: black;
    background-color: aliceblue;
}

#input-container {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

#squareInput {
    width: 285px;
    height: 25px;
}

/* end of button section */

/* header section */

#header {
    text-align: center;
    padding-top: 20px;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 35px;
}

#info {
    color: aliceblue;
}

/* drawing board section */
#box-container {
    display: flex;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    width: 640px;
    margin: 0 auto;
    padding: 10px;
}

#box-container div {
    background-color: rgb(255, 255, 255);
}
/* end of drawing board section */

footer {
    width: 100%;
    position: relative;
    bottom:0;
    left: 0;
    color: aliceblue;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(rgb(96, 71, 188), rgb(36, 14, 59));
    text-align: center;
}

/* Additional options: */
#additional-options {
    padding-bottom: 20px;
}

#options {
    text-align: center;
    color: aliceblue;
}

