body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(26, 78, 26), rgb(144, 186, 144));
    margin: 0;
    height: 100vh;
}

#title {
    color: aliceblue;
    font-size: 30px;
}

#box-container {
    display: flex;
    background-color: rgb(37, 24, 175);
    flex-wrap: wrap;
    width: 640px;
    margin: 0 auto;
    padding: 15px;
}

#box-container div {
    background-color: rgb(255, 255, 255);
}

